n8n/rag/RAG_SUPERBASE_NEXT_JS.json
{
  "name": "RAG SUPERBASE NEXT JS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e487bed7-8e6e-4af0-85d5-038b09dce16e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -380,
        -60
      ],
      "id": "230f3216-8d1b-4383-8320-6050dc42bc66",
      "name": "Webhook",
      "webhookId": "e487bed7-8e6e-4af0-85d5-038b09dce16e"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json?.fileContent || item.json?.body?.fileContent;\n  const fileName = item.json?.fileName || item.json?.body?.fileName;\n  const mimeType = item.json?.fileType || item.json?.body?.fileType;\n\n  if (!data || !fileName || !mimeType) {\n    throw new Error(\"Missing one of the required fields: fileContent, fileName, or fileType\");\n  }\n\n  results.push({\n    binary: {\n      data: {\n        data: Buffer.from(data, 'base64'),\n        fileName,\n        mimeType,\n      }\n    },\n    json: item.json,\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -60
      ],
      "id": "dc49900f-dd4a-4270-ac46-7734c8d85350",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        60,
        -60
      ],
      "id": "7f2f0d9d-8b2f-49c7-9164-618a7fe0ddb0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "515b5c2f-d0e0-4849-8ac5-7bbe267c477e",
              "name": "title",
              "value": "={{ $json.metadata['dc:title'] }}",
              "type": "string"
            },
            {
              "id": "191df294-0af0-4e07-82a8-97c71663cc57",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        -60
      ],
      "id": "ee1dd536-059f-44fa-ac18-f1e7302b6b22",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        500,
        -60
      ],
      "id": "ab1bbb53-ff0c-4cb5-8700-d9856e167398",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "fIXknp9ypuNq4SOX",
          "name": "ProjectPortfolio"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        500,
        160
      ],
      "id": "ae50bd79-83c7-43cd-af20-9c94e883e2c4",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        440,
        360
      ],
      "id": "bfd2742b-41f9-43cf-a00b-1d23888dce07",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        260
      ],
      "id": "f6261ef7-045e-4870-b278-c8d16319e746",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "dT5ngrC6voSW3kmW",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9edc660b-5d89-49a0-bad7-1a5c626fd600",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b2cff7e7e31221c7a9140558776c7bfb410a827813a3976b1bcd0e760b872d4"
  },
  "id": "DEY9dJH2V6kZLlm3",
  "tags": []
}