n8n/rag/Respond_NEXTJS.json
{
  "name": "Respond NEXTJS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3452a21e-036f-41c9-a6a6-e3399e014bbd",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -960,
        -380
      ],
      "id": "7b72292c-6038-40b9-b3ec-19a4ece86f66",
      "name": "Webhook",
      "webhookId": "3452a21e-036f-41c9-a6a6-e3399e014bbd"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= {{ $json.message }}\n\nanswer concise , and as short as you can .\ngive only the neded answer ",
        "options": {
          "systemMessage": "You are a helpful assistant. respond with the user questions.Use the tools to answer the users questions for the context"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        100,
        -320
      ],
      "id": "9e701578-d8c6-49f5-9194-02d8dbbe3161",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        460,
        -320
      ],
      "id": "eb00e080-a542-42c9-a95f-267fb5aaea8c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        120,
        -80
      ],
      "id": "ced8fd9f-ac3d-4c8c-afe6-802ffb4d65dd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -60,
        -80
      ],
      "id": "3ab93142-201c-4195-96c5-2d504c69d07b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dT5ngrC6voSW3kmW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Vector Store Tools to answer the users questions",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        400,
        -120
      ],
      "id": "8a76c292-1d4d-469e-8473-4e6800895e6d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "fIXknp9ypuNq4SOX",
          "name": "ProjectPortfolio"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        40
      ],
      "id": "a176bf75-ae36-4a3b-8f78-f06f09fe1062",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "dT5ngrC6voSW3kmW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -940,
        -200
      ],
      "id": "cbe2f75d-c2f2-4cac-901c-44769c1a2ffe",
      "name": "When chat message received",
      "webhookId": "f6dd7ea2-9130-4d24-8614-0250c6afb587"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b799c5ba-c6c3-4c56-9b95-8c3263f5cd25",
              "name": "message",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        -200
      ],
      "id": "0caabe0a-6c89-498f-82b0-aac53d28c37b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1b0bfe3-2a78-4249-b596-b62873cbe26d",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -740,
        -380
      ],
      "id": "d3509021-cc4f-4eda-80f7-3dba260f9cdd",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92c70d30-ca04-42d2-a875-d7971cd36289",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b2cff7e7e31221c7a9140558776c7bfb410a827813a3976b1bcd0e760b872d4"
  },
  "id": "WQur097NtCE2UlHm",
  "tags": []
}